<div ng-controller="secondController">
<a href="#/searchResult">Back to Search</a>
<hr/>
<div ng-repeat="w in bookResult.items">
    {{book}}
        <div class="col-md-4">
           <a ng-href ="#/book"><img class="img-responsive img-rounded" src = {{w.volumeInfo.imageLinks.thumbnail}}></a>
            <h3>
               {{w.volumeInfo.title}}
            </h3>
            <div class = "h4">
                {{w.volumeInfo.description}}  
            </div>
            <div class = "h4">User Rating : {{w.volumeInfo.averageRating}}/5 
            </div>     
        </div>
    </div>
</div>