<div class='container'>
	<h1><%= user.name %> </h1>
	 			<% if (user.admin) { %>
 				<img src="https://raw.githubusercontent.com/irlnathan/activityoverlord/318e08b1b88aba932952dd9125446065fbdfc160/assets/images/admin.png">
 				<% } else { %>
 				<img src="https://raw.githubusercontent.com/irlnathan/activityoverlord/318e08b1b88aba932952dd9125446065fbdfc160/assets/images/pawn.png">
 			<% } %>	
 	<h3><%= user.title %> </h3>
 	<hr>
 	<h3>E-mail: <%= user.email %> </h3>
 	
 	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
 	
 </div>

