<div class="container">
	<div class="jumbotron">
		<h1>Bookmark</h1>

		<h2> . . . book recommendations, of the people, for the people, by the people.</h2>
		<a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
	</div>
</div>
<div id="home" >
<div class="container">
<div class="row">
<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
<div class="item">    
<p>
<h4>    
A Higher-Diploma - Software Design and Development (Industry Stream) Project
    </h4>
</p>
</div>
<br>   
</div>
</div>
</div>
</div>

